# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# builds
Agility.NET.Starter/bin
Agility.NET.Starter/obj
Agility.NET.Starter/node_modules
Agility.NET.AgilityCLI/bin
Agility.NET.AgilityCLI/obj
Agility.NET.Starter/.vs

.vs

Agility.NET.Starter/appsettings.json
Agility.NET.AgilityCLI/App.config

