@using Agility.Models
@using Agility.NET.FetchAPI.Helpers
@using Agility.NET.FetchAPI.Models.API
@model ContentItemResponse<Agility.Models.Heading>

<div class="relative px-8 ">
	<div class="max-w-screen-xl mx-auto my-12 md:mt-18 lg:mt-20">
		<h1 class="font-display text-secondary-500 text-4xl font-black tracking-wide">
			@Model.Fields.Title
		</h1>
	</div>
</div>