@import "tailwindcss";
@plugin "@tailwindcss/typography";

@theme {
  /* Custom colors for Agility CMS Starter */
  --color-transparent: transparent;
  --color-agility: #222;

  /* Primary colors */
  --color-primary-100: #a273ff;
  --color-primary-200: #935bff;
  --color-primary-300: #8344ff;
  --color-primary-400: #742cff;
  --color-primary-500: #6415FF;
  --color-primary-600: #5a13e6;
  --color-primary-700: #5011cc;
  --color-primary-800: #460fb3;
  --color-primary-900: #3c0d99;

  /* Secondary colors */
  --color-secondary-100: #7c8ba1;
  --color-secondary-200: #667892;
  --color-secondary-300: #506582;
  --color-secondary-400: #3a5173;
  --color-secondary-500: #243E63;
  --color-secondary-600: #203859;
  --color-secondary-700: #1d324f;
  --color-secondary-800: #192b45;
  --color-secondary-900: #16253b;
}

/* Source scanning for Blazor components */
@source "../Components/**/*.razor";
