@using Agility.Models
@using Agility.NET5.FetchAPI.Helpers

@{
    var post = DynamicHelpers.DeserializeContentItemTo<Post>(ViewContext.RouteData.Values["contentItem"]?.ToString());
}

<div class="relative px-8">
    <div class="max-w-screen-xl mx-auto">
        <div class="h-64 md:h-96 relative overflow-hidden">
            <img src=@post.Fields.Image.Url class="object-cover object-center rounded-lg" alt=@post.Fields.Image.Label/>
        </div>
        <div class="max-w-2xl mx-auto mt-4">
            <div class="uppercase text-primary-500 text-xs font-bold tracking-widest leading-loose">
                @post.Fields.Category.Title
            </div>
            <div class="border-b-2 border-primary-500 w-8"></div>
            <div class="mt-4 uppercase text-gray-600 italic font-semibold text-xs">
                @post.Fields.Date.ToShortDateString()
            </div>
            <h1 class="font-display text-4xl font-bold my-6 text-secondary-500">
                @post.Fields.Title
            </h1>
            <div class="prose max-w-full mb-20">@Html.Raw(post.Fields.Content)</div>
        </div>
    </div>
</div>